services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: rust_server
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: smya13/spider-backend:latest
    container_name: backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8080"

  nginx:
    image: smya13/spider-frontend:latest
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pgdata:

